body {
  margin: 0;
  font-family: sans-serif;
  background-color: #252525;  /* fond sombre */
  color: #ffffff;
}

#graph-container {
  width: 100vw;
  height: 100vh;
  background-color: #212121; /* fond sombre du graphe */
  position: relative;
}

#search-input {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #555;
  background-color: #2e2e3f;
  color: #fff;
  z-index: 10;
}

div.tooltip {
  background-color: #2e2e3f;
  color: #fff;
  border: 1px solid #555;
}
