body {
  margin: 0;
  font-family: sans-serif;
  background-color: #252525; 
  color: #ffffff;
}

#graph-container {
  width: 100vw;
  height: 100vh;
  background-color: #212121; 
  position: relative;
}

#search-input {
   position: absolute;
  top: 10px;
  left: 10px;
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #555;
  background-color: #2e2e3f;
  color: #fff;
  z-index: 10;
}

div.tooltip {
  background-color: #2e2e3f;
  color: #fff;
  border: 1px solid #555;
}

#center-control-container {
  position: absolute;
  top: 10px;
  left: 50%; 
  transform: translateX(-50%);
  z-index: 10;
  padding: 5px 15px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

#graph-select, #search-input {
  padding: 5px 10px;
  font-size: 16px;
  margin: 0; 
}
